.container_div{
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  flex-direction: row;
  gap:4rem;
}

.header_div{
  height: 35vh;
  img{
    height: 100%;
    width: auto;
  }
}

.settings_div{
  background-color: #213547;
  color: white;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  .btn_preset{
    width: 100%;
  }

  .mod_title{
    padding: 0;
    margin:0;
  }
}

.graphic{
  width: 100%;
  background-color: #213547;
  min-height: 6vh;
  margin-bottom: 6vh;
}
h1{
  color: #1b709e;
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0;
}


.container_div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.1rem;
}

.form_input{
  display: flex;
  flex-direction: column;
  gap:1rem;
  justify-content: center;
  align-items: center;
}

.processing_div{
  display: flex;
  flex-direction: row;
  gap:1rem;
}

.btn_submit {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  padding: 0.6rem 1.2rem;
  font-size: 1.1em;
  cursor: pointer;
  color: white;
  background-color: #176087;
  transition: background-color 0.3s;
  border-radius: 8px;
  corner-shape:squircle;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  justify-content: center;
}

.btn_submit:hover {
  background-color: #1f7fb3;
  border: 1px solid #1f7fb3;
}

.error {
  color: red;
}

.error_div{
  width: 10vw;
  color: red;
  margin-top: 1rem;
}

.lbl_pdf{
  display: block;
  margin-bottom: 1rem;
  width: 90%;
  justify-content: center;

  input{
    margin-top: 1rem;
    margin-left: 2rem;
  }
}

textarea{
  font-family: 'Chau Philomene One', sans-serif;
  width: 40vw;
  padding: 0.8rem;
  resize: none;
  border: #176087 2px solid;
  border-radius: 25px;
  corner-shape:squircle;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
textarea:focus{
  outline: none;
}

.lbl_pdf input[type="file"] {
  display: none;
}

.lbl_pdf {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #176087;
  color: white;
  border-radius: 8px;
  corner-shape:squircle;
  font-weight: bold;
  transition: background-color 0.3s;
}

.lbl_pdf:hover {
  background-color: #1b709e;
}
.lbl_pdf::after {
  content: attr(data-file);
}

.logo{
  width: 10rem;
}

.response_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  border-radius: 30px;
  corner-shape:squircle;
  background-color: #176087;
  padding: 0.5rem 1rem;
  color: white;
  width:80vw;
  gap:1rem;
  margin-bottom: 2rem;
}

.icon_response{
  margin-right: 8px;
}

.response_textarea{
  background-color: #176087;
  color: white;
  width: 100%;
}
.response_textarea:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 2px #ffffff,
          0 4px 12px #176087,
          0 0 20px #176087;
  background-color: #1c73a1;
}

#btn_download{
  border-radius: 20px;
}

.response_textarea::-webkit-scrollbar {
  width: 12px;
}

.response_textarea::-webkit-scrollbar-track {
  background: #1c73a1;
  border-radius: 10px;
}

.response_textarea::-webkit-scrollbar-thumb {
  background-color: #2ba9ed;
  border-radius: 11px;
  border: 3px solid #1c73a1;
}

.response_textarea::-webkit-scrollbar-thumb:hover {
  background-color: #1f7fb3;
  cursor: pointer;
}

.spin {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.editor_tiny{
  width: 90%;
}


.mode-switch {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.mode-switch label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #213547;
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.25s ease;
  user-select: none;
  border: 2px solid transparent;
  font-size: 1.1rem;
}

.mode-switch input[type="radio"] {
  display: none;
}

.mode-switch input[type="radio"]:checked + span {
  background-color: #2ba9ed;
  color: #000;
  border-color: #1f7fb3;
  font-weight: bold;
  padding: 1rem;
  border-radius: 2rem;
}
