#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  h1{
    color: #176087;
    font-size: 3.2em;
    line-height: 1.1;
    margin-top: 0;
  }
}

.container_div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3.5rem;
}

.form_input{
  display: flex;
  flex-direction: column;
  gap:50px;
  justify-content: center;
  align-items: center;
}

.btn_submit {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  padding: 0.6rem 1.2rem;
  font-size: 1.4em;
  cursor: pointer;
  color: white;
  background-color: #2ba9ed;
  transition: background-color 0.3s;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  justify-content: center;

}

.btn_submit:hover {
  background-color: #1f7fb3;
  border: 1px solid #1f7fb3;
}

.error {
  color: red;
}

.error_div{
  color: red;
  margin-top: 1rem;
}

.lbl_pdf{
  display: block;
  margin-bottom: 1rem;

  input{
    margin-top: 1rem;
    margin-left: 2rem;
  }
}

textarea{
  width: 40vw;
  padding: 0.8rem;
  resize: none;
  border: #176087 2px solid;
  border-radius: 10px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
textarea:focus{
  outline: none;
  border-color: #0c3449;
  box-shadow:
          0 0 0 2px #176087,
          0 4px 12px #176087,
          0 0 20px #176087;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}


.lbl_pdf input[type="file"] {
  display: none;
}

.lbl_pdf {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #2ba9ed;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.lbl_pdf:hover {
  background-color: #1b709e;
}
.lbl_pdf::after {
  content: attr(data-file);
}

.logo{
  width: 10rem;
}

.response_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  border-radius: 10px;
  background-color: #176087;
  padding: 1rem 2rem;
  color: white;
  width: 70vw;
  gap:1rem;
}

.icon_response{
  margin-right: 8px;
}

.response_textarea{
  background-color: #176087;
  color: white;
  width: 100%;
}
.response_textarea:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 2px #ffffff,
          0 4px 12px #176087,
          0 0 20px #176087;
  background-color: #1c73a1;
}

#btn_download{
  border-radius: 20px;
}

.response_textarea::-webkit-scrollbar {
  width: 12px;
}

.response_textarea::-webkit-scrollbar-track {
  background: #1c73a1;
  border-radius: 10px;
}

.response_textarea::-webkit-scrollbar-thumb {
  background-color: #2ba9ed;
  border-radius: 11px;
  border: 3px solid #1c73a1;
}

.response_textarea::-webkit-scrollbar-thumb:hover {
  background-color: #1f7fb3;
  cursor: pointer;
}